<h1>Order_Pending Details List</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Phone</th>
    <th>Address</th>
    <th>order_detailed_at</th>
    <th>Operation</th>
  </thead>
  <% @user_details.each do |user_detail| %>
  <tr>
    <td><%= user_detail.id %></td>
    <td><%= user_detail.user.name %></td>
    <td><%= user_detail.status %></td>
    <td><%= user_detail.phone %></td>
    <td><%= user_detail.address %></td>
    <td><%= user_detail.created_at %></td>
    <td>  
    <%= link_to "View", user_detail_path(user_detail) %>
    <%#<%= link_to "Edit", edit_user_detail_path(user_detail) %>
    </td>
  </tr>
  <% end %>
</table>

<h1>Order_Accepted Details List</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>cake_name</th>
    <th>quantity</th>
    <th>price</th>
    <th>Phone</th>
    <th>Address</th>
  </thead>
  <% @user_orderaccepteddetails.each do |user_detail| %>
  <tr>
    <td><%= user_detail.id %></td>
    <td><%= user_detail.user.name %></td>
    <td><%= user_detail.status %></td>
    <td><%= user_detail.cake_name %></td>
    <td><%= user_detail.quantity %></td>
    <td><%= user_detail.price %></td>
    <td><%= user_detail.phone %></td>
    <td><%= user_detail.address %></td>
  </tr>
  <% end %>
</table>

<h1>Order_Cancelled Details List</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>cake_name</th>
    <th>quantity</th>
    <th>price</th>
    <th>Phone</th>
    <th>Address</th>
  </thead>
  <% @user_ordercancelleddetails.each do |user_detail| %>
  <tr>
    <td><%= user_detail.id %></td>
    <td><%= user_detail.user.name %></td>
    <td><%= user_detail.status %></td>
    <td><%= user_detail.cake_name %></td>
    <td><%= user_detail.quantity %></td>
    <td><%= user_detail.price %></td>
    <td><%= user_detail.phone %></td>
    <td><%= user_detail.address %></td>
  </tr>
  <% end %>
</table>