<%= stylesheet_link_tag "new_cake.css" %>

<div class="newform">
<%= form_for @cake do |f| %>
<h2>Create_Cake</h2>
<div class="space">
  <%= f.label :name,:class=>"name_space" %>
  <%= f.text_field :name %>
</div>
<% @cake.errors.full_messages_for(:name).each do |message| %>
  <div class="name_error"><%= message %></div>
<% end %>

<% if @cake.image.attached? %>
    <%= image_tag @cake.image, style: "width: 200px; display: block" %>
<% end %>

<div class="space">
  <%= f.label :image,:class=>"image_space" %>
  <%= f.file_field :image %>
</div>
  <% @cake.errors.full_messages_for(:image).each do |message| %>
  <div class="image_error"><%= message %></div>
  <% end %>

  <div class="space">
  <%= f.label :description,:class=>"description_space" %>
  <%= f.text_field :description %>
</div>
<% @cake.errors.full_messages_for(:description).each do |message| %>
 <div class="description_error"><%= message %></div>
<% end %>

<div class="space">
  <%= f.label :price, :class=>"price_space" %>
  <%= f.number_field :price %>
</div>
<% @cake.errors.full_messages_for(:price).each do |message| %>
  <div class="price_error"><%= message %></div>
<% end %>

<div class="new_cake_button">
  <%= f.submit %>
</div>
<% end %>
</div>
<div class="file_import">
<h3>Create_Cake with File</h3>
<%= form_tag import_cakes_path,multipart: true do %>
 <%= file_field_tag :file%>
 <%= submit_tag "Upload Posts" %>
<% end %>
<div>